@model ArchivosNas.Models.Dto.ResultadoListadoDto

<hr />
<a href="@Url.Action("Index", "Home")" class="btn btn-secondary mb-3">
    ← Volver
</a>

<h3>Resultado del listado</h3>

<p>
    Archivos encontrados: <b>@Model.Encontrados.Count</b>
</p>

<p class="text-danger">
    Archivos no encontrados: <b>@Model.NoEncontrados.Count</b>
</p>

<hr />

<form method="post" asp-action="DescargarZip">

    @foreach (var item in Model.Encontrados)
    {
        <input type="hidden" name="ids" value="@item.Id" />
    }

    <button class="btn btn-success">
        Descargar todos
    </button>

</form>
<hr />

<h4>Encontrados</h4>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Prefijo</th>
            <th>Factura</th>
            <th>Abrir</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Encontrados)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.NombreArchivo</td>
                <td>@item.Prefijo</td>
                <td>@item.NumeroFactura</td>

                <td>
                    <a asp-action="AbrirArchivo"
                       asp-controller="Home"
                       asp-route-ruta="@item.RutaCompleta"
                       asp-route-nombre="@item.NombreArchivo"
                       class="btn btn-success">
                        Abrir
                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>