@model List<ArchivosNas.Models.Dto.ResultadoBusquedaDto>

<hr />
<a href="@Url.Action("Index", "Home")" class="btn btn-secondary mb-3">
    ← Volver
</a>

<h3>Resultados</h3>

<p>Total encontrados: @ViewBag.Total</p>

<form method="post" asp-action="DescargarZip">

    @foreach (var item in Model)
    {
        <input type="hidden" name="ids" value="@item.Id" />
    }

    <button class="btn btn-success">
        Descargar todos
    </button>

</form>
<hr />

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Extension</th>
            <th>Prefijo</th>
            <th>Factura</th>
            <th>Ruta</th>
            <th>Abrir</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.NombreArchivo</td>
                <td>@item.Extension</td>
                <td>@item.Prefijo</td>
                <td>@item.NumeroFactura</td>
                <td>@item.RutaCompleta</td>

                <td>
                    <a asp-action="AbrirArchivo"
                       asp-controller="Home"
                       asp-route-ruta="@item.RutaCompleta"
                       asp-route-nombre="@item.NombreArchivo"
                       class="btn btn-success">
                        Abrir
                    </a>
                </td>

            </tr>
        }

    </tbody>

</table>